@import '../../styles/breakpoints.scss';
@import '../../styles/settings.scss';


.navbar {
  background-color: $dark-blue;

  & > * {
    font-size: 1.4rem;
  }
}

.account-mobile {
  display: none;
}
.account-desktop {
  display: flex;
  align-items: center;
  color: $background-color;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.btn-home,
.btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  cursor: pointer;

  &:hover{
    & > .nav__link > a{
      text-decoration: underline;
      color: $light-green;
    }
  }

}

.nav__link {
  a {
    text-decoration: none;
    color: $light;
    transition: all 0.15s ease-in;
    font-weight: bold;
    
    & > div {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
  }
}

.user {
  padding: 10px;
  color: lighten($greenish, 15%);
}

@include responsive-above(sm) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner {
    width: 80%;
  }
}


.menu-bars{
  cursor: pointer;
  color: $text;
}

.menu-link{
  cursor: pointer;
  color: $text;
  padding: 0.4rem;
  font-size: 1rem;
}