
// Colors
$background-color: #466365;
$primary-color: #9cdde1;
$greenish: #e5f4e3;

// COLORS
$light: #f0f7d4;
$light-green: #b2d732;
$dark-green: #66b032;
$light-blue: #347b98;
$dark-blue: #092834;


// 1st - 5th
$first: #347b98;
$second: #092834;
$third: #66b032;
$fourth: #b2d732;
$text: #f0f7d4;
