.lists-display {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-display__inner {
  width: 90%;
  padding: 0;
  position: relative;
  z-index: 1000;
}

.list-display__add {
  font-size: 2rem;
  color: #092834;
  cursor: pointer;
}

.list-display__add:hover {
  color: #0f4357;
}

.list__container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 0.8rem;
  color: #f0f7d4;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-column-gap: 0.6rem;
          column-gap: 0.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #347b98;
}

.list > * {
  color: inherit;
}

.list:hover {
  cursor: pointer;
}

.list:hover .actions {
  opacity: 1;
}

.list .list__title {
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  justify-self: flex-end;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.actions .edit,
.actions .delete {
  color: #092834;
  text-decoration: none;
}

.actions .edit > a,
.actions .delete > a {
  color: #092834;
}

.actions .edit > a:hover,
.actions .delete > a:hover {
  color: #f0f7d4;
  text-shadow: 0.5px 0.5px 8px ligthen(#092834, 8%);
}

.actions .edit:hover,
.actions .delete:hover {
  color: #f0f7d4;
  text-shadow: 0.5px 0.5px 8px ligthen(#092834, 8%);
}

.actions .edit_task,
.actions .delete_task {
  color: #092834;
  text-decoration: none;
}

.actions .edit_task > a,
.actions .delete_task > a {
  color: #092834;
}

.actions .edit_task > a:hover,
.actions .delete_task > a:hover {
  color: #145a75;
  text-shadow: 0.5px 0.5px 8px ligthen(#092834, 8%);
}

.actions .edit_task:hover,
.actions .delete_task:hover {
  color: #145a75;
  text-shadow: 0.5px 0.5px 8px ligthen(#092834, 8%);
}

.list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.arrow {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.arrow:hover {
  cursor: pointer;
}

.arrow.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tasks__container {
  border-radius: 1rem;
  width: 100%;
  position: relative;
  margin-top: -2.5rem;
  margin-bottom: 0.8rem;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background-color: #54a4c5;
  z-index: 0;
  padding-top: 2.2rem;
  padding-bottom: 0.8rem;
  overflow: hidden;
}

.tasks__container__inner {
  position: relative;
  z-index: 1000;
}

.tasks__container__inner .task {
  color: inherit;
  padding: 10px 1.6rem;
  margin: 0 10px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.tasks__container__inner .task:hover {
  cursor: pointer;
  color: #092834;
  background-color: #f0f7d4;
}

.tasks__container__inner .task:hover .actions {
  opacity: 1;
}

.tasks__container__inner .task .task__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__container__inner .task .task__inner .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=lists_display.css.map */