<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </script>
    <title>Login</title>
</head>

<body>
    <div class="messages">
        {% for message in messages %}
        <div class="{{message.tags}}">
            {{ message }}
        </div>
        {% endfor %}
    </div>


    <div class="container">
        <form action="" method="post" class="form__container">
            {% csrf_token %}
            <div class="input__container">
                <label for="username">Username</label>
                <input name="username" placeholder="Username" class="input" type="text">
            </div>
            <div class="input__container">
                <label for="password">Password</label>
                <input name="password" class="input" placeholder="******" type="password">
            </div>
            <button type="submit" class="btn form"> Submit </button>
        </form>
        <div class="register__link">
            <span>You don't have an account? </span><a href="{% url 'register' %}">Register</a>
        </div>
    </div>
</body>

</html>